*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none; 
}
body{
    background:#efefef;
    color: #fff;
}
.header{
    width: 100%;
    height: 220px;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.hero{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding: 2em;
    margin-left: 30%;
}

.hero h1{
    font-size: 2em;
    font-weight: 600;
}

.hero img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.inputs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    padding: 0 1em;
    background-color: #25273c;
    transition: background linear 0.5s ease;
   
}

.inputs input[type="text"]{
    width: 100%;
    height: 45px;
    border: none;
    padding: 1em 1em;
    font-size: 1em;
    background: transparent;
    outline: none;
    color: #fff;
}

.add{
    background: #25273c;
    width: 100%;
    max-width: 30%;
    
    margin-top: -3em;
    border-radius: 5px;
    transition: background linear 0.5s ease;
    position: relative;
}

.tasks{
    padding:1em;
    max-height: 400px;
    overflow-y: auto;
}

.tasks::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
}

.tasks::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px;
}

.tasks::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb on hover */
}

.task{
    display: flex;
    justify-content: space-between;
    gap: 6px;
    padding: 1em 0;
    border-bottom: 1px solid #f5f5f582;
    width: 100%;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    gap: 7px;
}

.close{
    display: none;
}
.close img{
    width: 18px;
    cursor: pointer;
}

.view{
    display: flex;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer p{
    color: #cccccc7d;
}
.footer p:hover{
    color: #fff;
}

.toggle{
    display: flex;
    gap:10px;

}

.toggle p,.content p{
    cursor: pointer;
}
.toggle .active{
    color: #0450f5;
}

.bg-white{
    color: #000;
    background: #ffffff;
    transition: background linear 0.5s ease;
}

.bg-white .task{
    border-bottom: 1px solid #000000;
}

.bg-white .footer p{
    color: #000;
}

.bg-white input[type="text"]{
    color: #000;
    text-decoration: #000;
    background: transparent;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
  }
  
  /* Style the label to position the custom checkbox */
  .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Create the custom checkbox using a span */
  .custom-checkbox .checkbox-indicator,.checkbox-indicator-1 {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius:50%; /* Optional: Rounded corners */
    margin-right: 10px;
    position: relative;
    display: inline-block;
  }
  
  /* Style for the checked state using a pseudo-element */
  .custom-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  @media  screen and (min-width:768px) and (max-width:1023px){
    header{
        height: 100vh;
        overflow-y: hidden;
    }
    .inputs,.add{
        max-width:calc(60% - 2em);
    }
  }
@media  screen and (max-width:767px) {
    header{
        height:100%;
    }
    .inputs,.add{
        max-width:calc(100% - 2em);
    }
    .hero{
        justify-content:space-between;
    }
}

@media screen and (max-width:460px) {
    header{
        height:100vh;
    }
    .tasks{
        max-height: 300px;
        overflow-y: auto;
    }
    .hero{
        justify-content:space-between;
    }
    .toggle{
        position: absolute;
        background: #25273c;
        border-radius: 5px;
        top:110%;
        width: 90%;
        gap: 20px;
        padding: 1em;
    }

    .bg-white .toggle{
        background: #ffffff;
        color: #000;
    }
}
